.plus-icon {
    padding: 10px 14px;
}

.main-spacer {
    flex: 1 1 auto;
}

.todo-spacer {
    padding: 10px 10px;
}

.project-spacer {
    padding: 15px;
}

.main-spinner {
    margin-left: center;
    margin-right: center;
}